 <!-- Include header template -->
<% include partials/header %>

<% include partials/navbar.ejs %>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="page-header">
                      <h1>Why do we exist?</h1>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
<!-- Include footer template -->
<% include partials/footer %>

